<html>

<head>
    <title>This is homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/afaa2c21f5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/marketPlace.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/line-awesome-font-awesome.min.css">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">


    <!-- <script type="text/javascript" src="javascripts/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/popper.js"></script>
    <!-- <script type="text/javascript" src="javascripts/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="javascripts/flatpickr.min.js"></script>



    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- <script type="text/javascript" src="lib/slick/slick.min.js"></script> -->
    <script type="text/javascript" src="javascripts/script.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHrP1nfdJkOmB32au7S3oXkQiOrCHn2hY&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    
    <style>
        #map {
            height: 400px;
        }

        .storeImageDiv{
            position:relative;
            width:60%;
            padding-bottom:60%;
            margin-left:20%;
            border-radius:50%;
            overflow:hidden;
            display: flex;
            justify-content: center;
        }
        .storeImageDiv img{
            position:absolute;
            object-fit: cover;
            width:100%;
            height:100%;
        }

        .recommendationImageDiv{
            /* position:relative; */
            width:60%;
            /* padding-bottom:60%; */
            /* margin-left:20%; */
            border-radius:50%;
            overflow:hidden;
            display: flex;
            /* justify-content: center; */
        }
        .recommendationImageDiv img{
            position:absolute;
            object-fit: cover;
            /* width:100%;
            height:100%; */
        }

        .postImageDiv{
            position:relative;
            width:60%;
            border-radius:50%;
            overflow:hidden;
            display: flex;
            justify-content: center;
        }
        .postImageDiv img{
            position:absolute;
            object-fit: cover;
            width:100%;
            height:100%;
        }

        textarea {
            background: transparent;
            color: transparent;
            resize: none;
            border: 0 none;
            width: 100%;
            font-size: 5em;
            outline: none;
        }

        .user-rec-img {
            float: left;
            width: 100%;
            text-align: center;
            /* margin-bottom: 28px; */
            /* margin-top: -95px; */
            position: relative;
        }.user-rec-img img {
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            border-radius: 50px;
            float: none;
            border: 1px solid #fff;
        }
    </style>
</head>

<body>


    <div class="wrapper">
        <div id="topnav"></div>
        
        <main>
            <div class="main-section">
                <div class="container">
                    <div class="main-section-data">
                        <div class="row">
                            

                            <div class="col-lg-3">
                                <!-- <div id="recommendationContent" class="pslider">
                                </div> -->
                            </div>
                            <div class="col-lg-6">
                                <div class="main-ws-sec">
                                    <div class="user-tab-sec rewivew">
                                        <div style="text-align: center;">
                                            <h3><i class="fas fa-map-marker-alt" style="color:#FF0000"></i> San Jose</h3>
                                            <div class="star-descp" style="text-align: center;">
                                                <span>You have <strong id="availableStoreCount"></strong> store(s) opening</span>
                                            </div>
                                        </div>
                                    
                                        <div style="padding-top: 50px;" id="availableStoresCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                                            <div id="availableStoresCarouselContent" class="carousel-inner"></div>
                                            <!-- <a class="carousel-control-prev" href="#availableStoresCarousel"
                                                role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#availableStoresCarousel"
                                                role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a> -->
                                        </div>

                                        <br><br>
                                        <label style="font-weight: bold;">Create Post</label>
                                        <br><br>

                                        <div class="container">
                                            <div class="row">
                                                <span class="card col-sm-2" style="background-color: transparent; -webkit-box-shadow:0 0 0 0; box-shadow: 0 0 0 0;">
                                                    <div class="storeImageDiv"><img class="" src="https://i.pinimg.com/originals/bc/78/4f/bc784f866bb59587b2c7364d47735a25.jpg" alt="Card image cap" width="50" height="50"></div>
                                                    
                                                </span>
                                                <div class="md-form col-sm-10" style="margin-top:0;">
                                                    <textarea id="createPostContent" class="md-textarea form-control" rows="3" placeholder="Say something..."></textarea>
                                                    <a href="#/" class="image-upload"><i class="fas fa-images" onclick="document.getElementById('postImageInput').click()"></i> <span id="pickedFiles"></span> </a>
                                                    
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-end">
                                                
                                                <input style="display:none;" type="file" multiple="multiple" id="postImageInput" name="postImageInput" accept="image/png, image/jpeg" onchange="pickFiles(this)">
                                                <button onclick="createPost()" class="btn btn-primary btn-sm">Post</button>
                                            </div>
                                        </div>

                                        <div class="tab-feed st2 settingjb d-flex justify-content-center">
                                            <ul>
                                                <li data-tab="feed-dd" class="active">
                                                    <a href="#" title="">
                                                        <img src="images/ic1.png" alt="">
                                                        <span>Feed</span>
                                                    </a>
                                                </li>
                                                <li data-tab="map-dd">
                                                    <a href="#" title="">
                                                        <img src="images/ic2.png" alt="">
                                                        <span>Maps</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div><!-- tab-feed end-->
                                    </div>
                                    

                                    <div class="top-profiles">
                                        <div id="recommendationContent" class="pslider">
                                        </div>
                                    </div>
                                    <div class="product-feed-tab current" id="feed-dd">
                                        <div id="postSection" class="posts-section">
                                        </div>
                                        <!--posts-section end-->
                                    </div>
                                    <!--product-feed-tab end-->

                                    <div class="product-feed-tab" id="map-dd">
                                        <div id="map"></div>
                                    </div>
                                    <!--product-feed-tab end-->
                                </div>
                                <!--main-ws-sec end-->
                            </div>
                            <div class="col-lg-3">
                                <div class="right-sidebar">
                                    <div class="message-btn">
                                        <!-- <a href="profile-account-setting.html" title=""><i class="fas fa-cog"></i>
                                            Setting</a> -->
                                    </div>
                                    <div id="friends_wiget"></div>
                                    <div id="follow_wiget"></div>
                                    <!--widget-portfolio end-->
                                </div>
                                <!--right-sidebar end-->
                            </div>
                        </div>
                    </div><!-- main-section-data end-->
                </div>
            </div>
        </main>

        <footer>
            <div class="footy-sec mn no-margin">
                <div class="container">
                    <ul>
                        <li><a href="help-center.html" title="">Help Center</a></li>
                        <li><a href="about.html" title="">About</a></li>
                        <li><a href="#" title="">Privacy Policy</a></li>
                        <li><a href="#" title="">Community Guidelines</a></li>
                        <li><a href="#" title="">Cookies Policy</a></li>
                        <li><a href="#" title="">Career</a></li>
                        <li><a href="forum.html" title="">Forum</a></li>
                        <li><a href="#" title="">Language</a></li>
                        <li><a href="#" title="">Copyright Policy</a></li>
                    </ul>
                    <p><img src="images/copy-icon2.png" alt="">Copyright 2019</p>
                    <img class="fl-rgt" src="images/logo2.png" alt="">
                </div>
            </div>
        </footer>
        <!--footer end-->

        <div class="overview-box" id="overview-box">
            <div class="overview-edit">
                <h3>Overview</h3>
                <span>5000 character left</span>
                <form>
                    <textarea></textarea>
                    <button type="submit" class="save">Save</button>
                    <button type="submit" class="cancel">Cancel</button>
                </form>
                <a href="#" title="" class="close-box"><i class="fas fa-close"></i></a>
            </div>
            <!--overview-edit end-->
        </div>
        <!--overview-box end-->


        <div class="overview-box" id="experience-box">
            <div class="overview-edit">
                <h3>Experience</h3>
                <form>
                    <input type="text" name="subject" placeholder="Subject">
                    <textarea></textarea>
                    <button type="submit" class="save">Save</button>
                    <button type="submit" class="save-add">Save & Add More</button>
                    <button type="submit" class="cancel">Cancel</button>
                </form>
                <a href="#" title="" class="close-box"><i class="fas fa-close"></i></a>
            </div>
            <!--overview-edit end-->
        </div>
        <!--overview-box end-->

        <div class="overview-box" id="education-box">
            <div class="overview-edit">
                <h3>Education</h3>
                <form>
                    <input type="text" name="school" placeholder="School / University">
                    <div class="datepicky">
                        <div class="row">
                            <div class="col-lg-6 no-left-pd">
                                <div class="datefm">
                                    <input type="text" name="from" placeholder="From" class="datepicker">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                            <div class="col-lg-6 no-righ-pd">
                                <div class="datefm">
                                    <input type="text" name="to" placeholder="To" class="datepicker">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="text" name="degree" placeholder="Degree">
                    <textarea placeholder="Description"></textarea>
                    <button type="submit" class="save">Save</button>
                    <button type="submit" class="save-add">Save & Add More</button>
                    <button type="submit" class="cancel">Cancel</button>
                </form>
                <a href="#" title="" class="close-box"><i class="fas fa-close"></i></a>
            </div>
            <!--overview-edit end-->
        </div>
        <!--overview-box end-->

        <div class="overview-box" id="location-box">
            <div class="overview-edit">
                <h3>Location</h3>
                <form>
                    <div class="datefm">
                        <select>
                            <option>Country</option>
                            <option value="pakistan">Pakistan</option>
                            <option value="england">England</option>
                            <option value="india">India</option>
                            <option value="usa">United Sates</option>
                        </select>
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="datefm">
                        <select>
                            <option>City</option>
                            <option value="london">London</option>
                            <option value="new-york">New York</option>
                            <option value="sydney">Sydney</option>
                            <option value="chicago">Chicago</option>
                        </select>
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <button type="submit" class="save">Save</button>
                    <button type="submit" class="cancel">Cancel</button>
                </form>
                <a href="#" title="" class="close-box"><i class="fas fa-close"></i></a>
            </div>
            <!--overview-edit end-->
        </div>
        <!--overview-box end-->

        <div class="overview-box" id="skills-box">
            <div class="overview-edit">
                <h3>Skills</h3>
                <ul>
                    <li><a href="#" title="" class="skl-name">HTML</a><a href="#" title="" class="close-skl"><i
                                class="fas fa-close"></i></a></li>
                    <li><a href="#" title="" class="skl-name">php</a><a href="#" title="" class="close-skl"><i
                                class="fas fa-close"></i></a></li>
                    <li><a href="#" title="" class="skl-name">css</a><a href="#" title="" class="close-skl"><i
                                class="fas fa-close"></i></a></li>
                </ul>
                <form>
                    <input type="text" name="skills" placeholder="Skills">
                    <button type="submit" class="save">Save</button>
                    <button type="submit" class="save-add">Save & Add More</button>
                    <button type="submit" class="cancel">Cancel</button>
                </form>
                <a href="#" title="" class="close-box"><i class="fas fa-close"></i></a>
            </div>
            <!--overview-edit end-->
        </div>
        <!--overview-box end-->

        <div class="overview-box" id="create-portfolio">
            <div class="overview-edit">
                <h3>Create Portfolio</h3>
                <form>
                    <input type="text" name="pf-name" placeholder="Portfolio Name">
                    <div class="file-submit">
                        <input type="file" id="file">
                        <label for="file">Choose File</label>
                    </div>
                    <div class="pf-img">
                        <img src="images/np.png" alt="">
                    </div>
                    <input type="text" name="website-url" placeholder="htp://www.example.com">
                    <button type="submit" class="save">Save</button>
                    <button type="submit" class="cancel">Cancel</button>
                </form>
                <a href="#" title="" class="close-box"><i class="fas fa-close"></i></a>
            </div>
            <!--overview-edit end-->
        </div>
        <!--overview-box end-->

    </div>
    <!--theme-layout end-->

    <script>
        // $('.responsive').slick({
        //     dots: true,
        //     infinite: false,
        //     speed: 300,
        //     slidesToShow: 4,
        //     slidesToScroll: 4,
        //     responsive: [
        //         {
        //         breakpoint: 1024,
        //         settings: {
        //             slidesToShow: 3,
        //             slidesToScroll: 3,
        //             infinite: true,
        //             dots: true
        //         }
        //         },
        //         {
        //         breakpoint: 600,
        //         settings: {
        //             slidesToShow: 2,
        //             slidesToScroll: 2
        //         }
        //         },
        //         {
        //         breakpoint: 480,
        //         settings: {
        //             slidesToShow: 1,
        //             slidesToScroll: 1
        //         }
        //         }
        //         // You can unslick at a given breakpoint now by adding:
        //         // settings: "unslick"
        //         // instead of a settings object
        //     ]
        //     });
        // $('.pslider').slick({
        //     slidesToShow: 3,
        //     slck: true,
        //     slidesToScroll: 1,
        //     prevArrow: '<span class="slick-previous"></span>',
        //     nextArrow: '<span class="slick-nexti"></span>',
        //     autoplay: true,
        //     dots: false,
        //     autoplaySpeed: 2000,
        //     responsive: [
        //         {
        //             breakpoint: 1200,
        //             settings: {
        //                 slidesToShow: 2,
        //                 slidesToScroll: 1,
        //                 infinite: true,
        //                 dots: false
        //             }
        //         },
        //         {
        //             breakpoint: 991,
        //             settings: {
        //                 slidesToShow: 2,
        //                 slidesToScroll: 2
        //             }
        //         },
        //         {
        //             breakpoint: 768,
        //             settings: {
        //                 slidesToShow: 1,
        //                 slidesToScroll: 1
        //             }
        //         }
        //         // You can unslick at a given breakpoint now by adding:
        //         // settings: "unslick"
        //         // instead of a settings object
        //     ]


        // });
        $('.pslider').slick({
            slidesToShow: 3,
            infinite: false,
            slck: true,
            slidesToScroll: 1,
            prevArrow: '<span class="slick-previous"></span>',
            nextArrow: '<span class="slick-nexti"></span>',
            autoplay: false,
            dots: false,
            autoplaySpeed: 2000,
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: false
                    }
                },
                {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });


    </script>

    <script>
        function renderAvailableStores(){
            const MAX_ITEMS_PER_SLIDE = 5;

            return $.ajax({
                type: "GET",
                url: ("/api/stores/available"),
                success: function (body, res, xhr) {
                    const stores = body || [];
                    let payload = "";
                    let cardDeckContent = "";
                    let deckCount = 0;

                    for (let i = 0; i < stores.length; i++){
                        let store = stores[i];
                        cardDeckContent += `
                            <div class="card" style="background-color: transparent; -webkit-box-shadow:0 0 0 0; box-shadow: 0 0 0 0;">
                                <div class="d-flex justify-content-center storeImageDiv"><img class="" src="${store.avatar || "https://i.pinimg.com/originals/bc/78/4f/bc784f866bb59587b2c7364d47735a25.jpg"}" alt="Card image cap" width="50" height="50"></div>
                                <h5 class="text-center"><a href="/store?storeId=${store.id}">${store.name}</a></h4>
                            </div>
                        `
                        if (i > 0 && i % MAX_ITEMS_PER_SLIDE == 0){
                            payload += `
                                <div class="carousel-item ${deckCount == 0 ? "active" : ""}">
                                    <div class="card-deck">
                                        ${cardDeckContent}
                                    </div>
                                </div>
                            `;
                            cardDeckContent = "";
                            deckCount++;
                        }


                        // The marker, positioned at Uluru
                        const marker = new google.maps.Marker({
                            position: { lat: store.latitude, lng: store.longitude },
                            map: map
                        });

                        const infowindow = new google.maps.InfoWindow({
                            content: `<b>${store.name}</b><br><div>${store.address}</div><a href="/store?storeId=${store.id}">Go To Store</a>`,
                        });

                        marker.addListener("click", () => {
                            infowindow.open(map, marker);
                        });
                    }

                    if (cardDeckContent != ""){
                        for (let i = 0; i < MAX_ITEMS_PER_SLIDE - (stores.length % MAX_ITEMS_PER_SLIDE); i++){
                            cardDeckContent += `
                            <div class="card" style="background-color: transparent; -webkit-box-shadow:0 0 0 0; box-shadow: 0 0 0 0; visibility:hidden;">
                                <div class="d-flex justify-content-center storeImageDiv"><img class="" src="https://i.pinimg.com/originals/bc/78/4f/bc784f866bb59587b2c7364d47735a25.jpg" alt="Card image cap" width="50" height="50"></div>
                                <h5 class="text-center">PLACEHOLDER</h4>
                            </div>
                        `
                        }
                        payload += `
                            <div class="carousel-item ${deckCount == 0 ? "active" : ""}">
                                <div class="card-deck">
                                    ${cardDeckContent}
                                </div>
                            </div>
                        `;
                    }

                    document.getElementById("availableStoreCount").innerHTML = stores.length;
                    document.getElementById("availableStoresCarouselContent").innerHTML = payload;
                },
                error: function (body, res, xhr) {
                    alert(body.responseJSON.message);
                    return false;
                }
            })
        }

        function renderFeeds(){
            const currentUser = JSON.parse(localStorage.getItem("currentUser" || "{}"));

          
            $.ajax({
                type: "GET",
                url: (`/api/users/${currentUser.id}/feeds`),
                success: function (body, res, xhr) {
                    const posts = body || [];
                    let payload = "";

                    posts.forEach(post => {
                        // alert(JSON.stringify(post.comments, null, 4))
                        payload += `
                            <div class="post-bar">
                                <div class="post_topbar">
                                    <div class="container">
                                        <div class=" row">                                         
                                            <div class="postImageDiv col-sm-1"><img class="" src="${post.profile.avatar}" alt="Card image cap" width="60" height="60"></div>
                                            
                                            <span class="usy-name col-sm-9">
                                                <h3>${post.profile.firstName} ${post.profile.lastName}</h3>
                                                <span><i class="fas fa-clock"></i>&nbsp;${post.createdAt}&nbsp;&nbsp;&nbsp;</span>
                                                <span><i class="fas fa-map-marker-alt"></i>&nbsp;San Jose</span>
                                            </span>

                                            <span class="ed-opts col-sm-1">
                                                <a href="#" title="" class="ed-opts-open"><i class="fas fa-ellipsis-v"></i></a>
                                                <ul class="ed-options">
                                                    <li><a href="#" title="">Edit Post</a></li>
                                                    <li><a href="#" title="">Delete</a></li>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br><br><br><br>
                                ${
                                    (post.images || []).length > 0 ? 
                                        `<div id="postImageCarousel-${post.id}" class="carousel slide" data-interval="false">
                                            <ol class="carousel-indicators">
                                                ${
                                                    post.images.map(function(img, idx){
                                                        return `<li data-target="#postImageCarousel-${post.id}" data-slide-to="${idx}"class="${idx == 0 ? "active": ""}"></li>`
                                                    }).join("")
                                                }
                                            </ol>
                                            <div class="carousel-inner">
                                                ${
                                                    post.images.map(function(img, idx){
                                                        return `
                                                            <div class="carousel-item ${idx == 0 ? "active" : ""}">
                                                                <img style="object-fit: contain;" src="${img}" width="400" height="300" class="d-block w-100" alt="...">
                                                            </div>`
                                                    }).join("")
                                                }
                                                
                                            </div>
                                            <a class="carousel-control-prev" href="#postImageCarousel-${post.id}"
                                                role="button" data-slide="prev">
                                                <span style="color: black"><i class="fas fa-arrow-circle-left fa-2x"></i></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#postImageCarousel-${post.id}"
                                                role="button" data-slide="next">
                                                <span style="color: black"><i class="fas fa-arrow-circle-right fa-2x"></i></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>` 
                                        :
                                        ""
                                }
                                
                                <br>


                                <div class="epi-sec">
                                    <!--<ul class="descp">
                                        <li>
                                            <img src="images/liked-img.png" alt="">
                                            <span> <strong>Liked by 25 people.</strong></span>
                                        </li>
                                    </ul>-->
                                    <ul class="bk-links">
                                        <li><a href="#" title=""><i class="far fa-bookmark"></i></a>
                                        </li>
                                        <li><a href="#" title=""><i
                                                    class="fas fa-external-link-alt"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="job_descp">
                                    <p>${post.content}</p>

                                </div>
                                <div class="job-status-bar">
                                    <br>
                                    ${
                                        post.comments.map(function(comment){
                                            return `
                                            <div class="">
                                                <div class="container" style="padding-bottom:30px">
                                                    <div class=" row">                                         
                                                        <span class="postImageDiv col-md-1"><img class="" src="${comment.profile.avatar}" alt="Card image cap" width="50" height="50"></span>
                                                        <span class="col-md-10">
                                                            <ul class="skill-tags" style="margin-bottom: -20px">
                                                                <li><a href="#" title="">
                                                                    <strong>${comment.profile.firstName} ${comment.profile.lastName}</strong>
                                                                    <p>${comment.content}</p>
                                                                </a></li>
                                                            </ul>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            `
                                        }).join("")
                                    }
                                    <br>
                                    <div class="form-row">
                                        <input type="text" class="col form-control" id="commentBox-${post.id}" placeholder="Comment....">
                                        
                                        <ul class="like-com">
                                            <li id="submitCommentBtn-${post.id}" style="margin-right:0"><a class="com" style="margin-top:0; margin-right:0"><i class="fas fa-paper-plane col-sm-1 fa-2x"></i></a></li>
                                        </ul>
                                    </div>
                                    <br>
                                </div>
                                <div class="job-status-bar">
                                    <ul class="like-com">
                                        <li><a href="#/" onclick="likePost(${post.id})" class="com ${post.liked.find(function(p){ return p.id == currentUser.id}) ? "active" : ""}"><i class="fas fa-heart"></i>
                                                Like ${post.liked.length}</a></li>
                                        <li><a href="#/" class="com"><i class="fas fa-comment-alt"></i>
                                                Comment ${post.comments.length}</a></li>
                                    </ul>
                                    <a href="#" class="d-flex justify-content-end"><i class="fas fa-eye"></i>Views 2350</a>
                                </div>
                            </div>`
                    });

                    const postSection = document.getElementById("postSection");

                    postSection.innerHTML = payload;

                    posts.map(function(p){
                        document.getElementById(`submitCommentBtn-${p.id}`).addEventListener("click", () => {
                            createComment(p.id);
                        })
                    })
                }
            })
        }

        function renderRecommendations(){
            const currentUser = JSON.parse(localStorage.getItem("currentUser" || "{}"));
            const recommendationContent = document.getElementById("recommendationContent");
          
            $.ajax({
                type: "GET",
                
                url: (`/api/users/${currentUser.id}/recommendations`),
                success: function (body, res, xhr) {
                    const items = body || [];
                    let payload = "";

                    items.forEach(item => {
                        // alert(JSON.stringify(post.comments, null, 4))
                        payload += `
                            <div class=" slick-slide card" style="width: 240px; margin:10px" tabindex="-1" data-slick-index="-3" aria-hidden="true">
                                <div id="re" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        ${
                                            item.images.map(function(img, idx){
                                                return `
                                                    <div class="carousel-item ${idx == 0 ? "active" : ""}">
                                                        <img src="${ img }" class="d-block w-100" height="300" style="object-fit: cover;" alt="...">
                                                    </div>`
                                            })
                                        }
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls"
                                        role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon"
                                            aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls"
                                        role="button" data-slide="next">
                                        <span class="carousel-control-next-icon"
                                            aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <span style="text-align: left; float:left" >
                                            <strong class="card-text">${item.name}</strong>
                                        </span>
                                    </div>
                                    <strong class="card-text">$${item.price}</strong>
                                </div>
                               
                                <div style="text-align: center; margin-bottom:10px"">
                                    <button id="addToCartButton-${item.id}" class="btn btn-primary">Add To Cart</button>
                                </div>
                            </div>`
                    })

                    recommendationContent.innerHTML = payload;

                    items.map(function(item){
                        document.getElementById(`addToCartButton-${item.id}`).addEventListener("click", () => {
                            addToCart(item.id);
                        })
                    })
                }
            })
        }

    </script>

    <script>
        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 37.28523062012538, lng: -121.81448010522023 },
                zoom: 15,
            });

            renderAvailableStores();
            renderFeeds();
            renderRecommendations();
        }
    </script>

    <script>
        function createPost(){
            const createPostTextarea = document.getElementById("createPostContent");
            const postContent = createPostTextarea.value;
            const currentUser = JSON.parse(localStorage.getItem("currentUser" || "{}"));

            let formData = new FormData();
            formData.append('text', postContent);;
            // Attach file
            let imagesPicker = $('input[type=file]')[0]
            for (let i = 0; i < imagesPicker.files.length; i++){
                let file = imagesPicker.files[i];
                formData.append(`image${i}`, file); 
            }

            $.ajax({
                type: "POST",
                url: `/api/users/${currentUser.id}/posts`,
                data: formData,
                contentType: false,
                processData: false, 
                success: function (body, res, xhr) {
                    createPostTextarea.value = "";
                    renderFeeds();
                },
                error: function(err){
                    alert("Unable to create post, please try again.")
                }
            })
        }

        function createComment(id){
            const commentBox = document.getElementById(`commentBox-${id}`);
            const commentContent = commentBox.value;
            const currentUser = JSON.parse(localStorage.getItem("currentUser" || "{}"));

            $.ajax({
                type: "POST",
                url: `/api/users/${currentUser.id}/posts/${id}/comments`,
                contentType: "application/json",
                data: JSON.stringify({
                    text: commentContent
                }),
                success: function (body, res, xhr) {
                    commentContent.value = "";
                    renderFeeds();
                },
                error: function(err){
                    alert("Unable to create post, please try again.")
                }
            })
        }

        function addToCart(id){
            const commentBox = document.getElementById(`addToCartButton-${id}`);
            const currentUser = JSON.parse(localStorage.getItem("currentUser" || "{}"));

            $.ajax({
                type: "POST",
                url: `/api/users/${currentUser.id}/shoppingCarts/active/addItem`,
                contentType: "application/json",
                data: JSON.stringify({
                    itemId: id
                }),
                success: function (body, res, xhr) {
                    alert("Item added");
                },
                error: function(err){
                    alert("Unable to create post, please try again.")
                }
            })
        }

        function likePost(id){
            const currentUser = JSON.parse(localStorage.getItem("currentUser" || "{}"));
            $.ajax({
                type: "POST",
                url: `/api/users/${currentUser.id}/posts/${id}/like`,
                success: function (body, res, xhr) {
                    renderFeeds();
                },
                error: function(err){
                    alert("Unable to create post, please try again.")
                }
            })
        }

        function pickFiles(input){
            let files = input.files;
            let payload = "";
            let pickedFilesSection = document.getElementById("pickedFiles");
            pickedFilesSection.innerHTML = files.length > 0 ? `<span class="badge badge-pill badge-info">${files.length}</i></span>` : "";
        }
    </script>
    <script src="javascripts/topnav.js"></script>
    <script src="javascripts/sidebar_friend.js"></script>
    <script src="javascripts/sidebar_follow.js"></script>
</body>

</html>